<h1><%= link_to' See All Tables', tabels_path%></h1>
<h1>Create New Multiplication Tabel:</h1>
<%=form_for @tabel do |t| %>
<p> 
	<%= t.label :Number %>
	<%= t.text_field :number %>
</p>
<%= t.submit %>
<% end %>
